<% if !log.present? %>
<% else %>
  <div class="col s12 m12 l4 center-align">
    <div class="card hoverable animated zoomIn">
      <div class="card-image">
        <%= image_tag log.image,size: "290x400"%>
        <span class="card-title">ログデータ<%= num %></span>
      </div>
      <div class="card-content">
        <table class="centered">
          <thead>
            <tr>
              <th>日付</th>
              <th>体重</th>
              <th>体脂肪率</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= log.date.strftime("%Y/%m/%d") %></td>
              <td><%= log.weight %>kg</td>
              <td><%= log.fat %>%</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="card-action">
        <%= link_to edit_log_path(log), remote: true do %><i class="material-icons modal-trigger" data-target="modal">edit<span>編集</span></i><% end %>
      </div>      
    </div>
  </div>
<% end %>