
<%= render "form" %>


<div class="row">
  <% unless @log1.present? %>
  <% else %>
    <div class="col s12 m12 l4 center-align">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag @log1.image%>
          <span class="card-title">ログデータ１</span>
        </div>
        <div class="card-content">
          <table class="centered">
            <thead>
              <tr>
                <th>日付</th>
                <th>体重</th>
                <th>体脂肪率</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @log1.date.strftime("%Y/%m/%d") %></td>
                <td><%= @log1.weight %>kg</td>
                <td><%= @log1.fat %>%</td>
              </tr>
            </tbody>
          </table>          
        </div>
        <div class="card-action">
          <%= link_to edit_log_path(@log1) do %><i class="material-icons">edit<span>編集</span></i><% end %>
        </div>      
      </div>
    </div>
  <% end %>
  
  <% unless @log2.present? %>
  <% else %>
    <div class="col s12 m12 l4 center-align">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag @log2.image%>
          <span class="card-title">ログデータ２</span>
        </div>
        <div class="card-content">
          <table class="centered">
            <thead>
              <tr>
                <th>日付</th>
                <th>体重</th>
                <th>体脂肪率</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @log2.date.strftime("%Y/%m/%d") %></td>
                <td><%= @log2.weight %>kg</td>
                <td><%= @log2.fat %>%</td>
              </tr>
            </tbody>
          </table>          
        </div>
        <div class="card-action">
          <%= link_to edit_log_path(@log2) do %><i class="material-icons">edit<span>編集</span></i><% end %>
        </div>
      </div>
    </div>  
  <% end %>
  
  <% unless @goal.present? %>
  <% else %>
    <div class="col s12 m12 l4 center-align">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag @goal.image%>
          <span class="card-title">目標</span>
        </div>
        <div class="card-content">
          <table class="centered">
            <thead>
              <tr>
                <th>日付</th>
                <th>体重</th>
                <th>体脂肪率</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @goal.date.strftime("%Y/%m/%d") %></td>
                <td><%= @goal.weight %>kg</td>
                <td><%= @goal.fat %>%</td>
              </tr>
            </tbody>
          </table>          
        </div>
        <div class="card-action">
          <%= link_to edit_goal_path(@goal) do %><i class="material-icons">edit<span>編集</span></i><% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  
