<% if logged_in? %>
  <%= render "new", path: new_log_path, text: "本日の体重を入力する", color: "blue lighten-3" %>
  <% unless @goal.present? %>
    <%= render "new", path: new_goal_path, text: "目標を設定しよう", color: "orange darken-1" %>
  <% else %>
    <h3 class="header">目標</h3>
    <%= render "card", content: @goal, path: edit_goal_path(@goal), display: "hide" %>
  <% end %>

  <% if @logs.present? %>
    <h3 class="header">ログ</h3>
    <% @logs.each do |log| %>
      <%= render "card", content: log, path: edit_log_path(log), display: ""  %>
    <% end %>
    <%= paginate @logs %>
  <% end %>
  <div id="modal" class="modal"></div>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>My Ideal Body</h1>
      <h3>あなたの理想のカラダへ</h3>
      <div class="modal-trigger user" data-target="modal">
        <%= link_to "新規登録", signup_path, remote: true, class:"waves-effect waves-light btn cyan lighten-2" %>
        <%= link_to "ログイン", login_path, remote: true, class:"waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
  <div class="modal" id="modal"></div>
<% end %>

