<% if logged_in? %>

<%= current_user.id %>
<%= current_user.name %>
<ul>
  <% @logs.each do |log| %>
    <li>date:<%= log.date.strftime("%Y/%m/%d") %>　　weight:<%= log.weight %>kg　　fat:<%= log.fat %>%  
    <%= link_to "編集", edit_log_path(log) %>
    <%= link_to "削除", log_path(log), method: :delete, data: {confirm: "削除してもよろしいですか?"} %></li>
  <% end %>
</ul>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>My Ideal Body</h1>
      <h3>あなたの理想のカラダへ</h3>
      <%= link_to "新規登録", signup_path, class:"btn btn-info btn-lg" %>
    </div>
  </div>
<% end %>