<% if logged_in? %>
  <%= render "log_new" %>
  <%= render "goal_card", goal: @goal%>
  <%= render "log_card", logs: @logs %>
  <%= paginate @logs %>
  <div id="modal" class="modal"></div>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>My Ideal Body</h1>
      <h3>あなたの理想のカラダへ</h3>
      <div class="modal-trigger user" data-target="modal">
        <%= link_to "新規登録", signup_path, remote: true, class:"waves-effect waves-light btn cyan lighten-2" %>
        <%= link_to "ログイン", login_path, remote: true, class:"waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
  <div class="modal" id="modal"></div>
<% end %>

